@{
    ViewData["Title"] = "Home Page";
    // use _MainLayout instead of default _Layout
    Layout = "_MainLayout";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
